<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html >
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>
<body class="container" >
    <div class="item active">
   <% for(var i=0; i < products.length; i++) { %>
        <img src="data:<%= products[i].image.contentType %>;base64,<%= products[i].image.data %>" , width="450", height="450", title="This image was reduced in the HTML to 450px in height and 450px in width.", alt="Image from server" />

  <% } %>
  </div>

</body>

</html>
