<style>
.modal-header, .close {
    background-color: #2684E0;
    color:white !important;
    text-align: center;
    font-size: 30px;
}
.modal-footer {
    background-color: #9AC4ED;
}
</style>
